@page
@model CoverLetterModel
@{
    ViewData["Title"] = "CoverLetter";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Here's what I suggest:</h1>
 
 <div>
    <h2>Resume Details:</h2>
    <p><strong>Name:</strong> @Model.Resume.FullName</p>
    <p><strong>Email:</strong> @Model.Resume.Email</p>
    <p><strong>Experience:</strong> @Model.Resume.Experiences</p>
    <p><strong>Education:</strong> @Model.Resume.Education</p>
    <p><strong>Skills:</strong> @Model.Resume.Skills</p>
    <p><strong>Projects:</strong> @Model.Resume.Projects</p>
</div>



<form method="post">
    <input type="hidden" name="fullName" value="@Model.Resume.FullName" />
    <input type="hidden" name="email" value="@Model.Resume.Email" />
    <input type="hidden" name="experience" value="@Model.Resume.Experiences" />
    <input type="hidden" name="education" value="@Model.Resume.Education" />
    <input type="hidden" name="skills" value="@Model.Resume.Skills" />
    <input type="hidden" name="projects" value="@Model.Resume.Projects" />
    <input type="hidden" name="companyName" value="@Model.JobDescription.CompanyName" />
    <input type="hidden" name="jobTitle" value="@Model.JobDescription.JobTitle" />
    <input type="hidden" name="jobResponsibilities" value="@Model.JobDescription.JobResponsibilities" />
    <input type="hidden" name="jobRequirements" value="@Model.JobDescription.JobRequirements" />

    <input type="submit" value="Generate Cover Letter">
</form>